.Rod{
    width: 100px;
    height:100px;

}
.hero-section{
    position: relative;
    text-align: center;
}
<div class="mt-10 grid grid-cols-1 border-gray-700 pt-6 text-xl text-start flex flex-col md:flex-row md:">
        <div class="flex items-start space-x-4 mb-2 px-6 py-6 md:mb-0">